[Unit]
Description=Mentor Test Device Agent

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/bin/mtda-cli -d -n

[Install]
WantedBy=multi-user.target
