[Unit]
Description=Multi-Tenant Device Access
After=network-online.target
Wants=network-online.target
ConditionPathExists=/etc/mtda/config

[Service]
Type=simple
ExecStart=/usr/sbin/mtda-service -n

[Install]
WantedBy=multi-user.target
