Source: kconfiglib
Section: python
Priority: optional
Maintainer: Vijai Kumar K <Vijaikumar_Kanagarajan@mentor.com>
Build-Depends: debhelper (>=10),
               dh-python,
               libpython3-all-dev,
               python3-all-dev,
               python3-setuptools
Standards-Version: 4.5.0
Homepage: https://pypi.org/project/kconfiglib
Rules-Requires-Root: no

Package: python3-kconfiglib
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}
Description: A flexible Python Kconfig implementation
