Source: curve25519-donna
Section: python
Priority: optional
Maintainer: Cedric Hombourger <cedric_hombourger@mentor.com>
Build-Depends: debhelper (>=10), dh-python, libpython3-dev, python3-setuptools, python3-all
Standards-Version: 4.5.0
Homepage: https://pypi.org/project/curve25519-donna
Rules-Requires-Root: no

Package: python3-curve25519-donna
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-curve25519-donna-doc
Description: python3 implementations of curve25519, an elliptic curve Diffie Hellman primitive
 Curve25519 is a fast elliptic-curve key-agreement protocol, in which two
 parties Alice and Bob each generate a (public,private) keypair, exchange
 public keys, and can then compute the same shared key. Specifically,
 Alice computes F(Aprivate, Bpublic), Bob computes F(Bprivate, Apublic),
 and both get the same value (and nobody else can guess that shared value,
 even if they know Apublic and Bpublic).
 .
 This package installs the library for Python 3.

Package: python-curve25519-donna-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: documentation for curve25519 implementations in Python
 Curve25519 is a fast elliptic-curve key-agreement protocol, in which two
 parties Alice and Bob each generate a (public,private) keypair, exchange
 public keys, and can then compute the same shared key. Specifically,
 Alice computes F(Aprivate, Bpublic), Bob computes F(Bprivate, Apublic),
 and both get the same value (and nobody else can guess that shared value,
 even if they know Apublic and Bpublic).
 .
 This is the common documentation package.
